#logout-button:hover {
  background-color: var(--danger);
  box-shadow: none;
}

#status-icon {
  width: 190px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 149px;
  box-shadow: var(--drop-shadow);
  border-radius: 50%;
}

#credentials {
  margin-top: 50px;
}
